//
//base genral style
//
/*general styles*/
body{
	background-color: $main-color;
	color: $text-color;
	display: flex;
	justify-content:center;
  flex-flow: row wrap;
	height: 100vh;
	font-size: $font-size; /*16px*/;
	font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
  color: $text-color;
}
//HEADER
header{
	display: flex;
  align-self: flex-start;
	flex-flow:row wrap;
	justify-content: center;
  align-content: center;
	// height: 80vh;
  width: 100%;
}
.select-category{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem;
}
.select-category p{
  flex-basis: 100%;
}
.nyt-logo, .select-category{
  flex-basis: 100%;
}
.nyt-logo{
  margin: 1rem 0;
}
header p{
  padding: 1rem 0;
}

//NYT FEED
.feed-images{
  width:100%;
}
//ul
.stories-list{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
//li
.story-list-item{
	flex-basis: 100%;
  display: inline-block;
	position: relative;
  height: 30rem;
}

.story-list-item a {
  display: block;
  height: 30rem;
  width: inherit;
}

//p with abstrackt
.story-item-text{
  bottom:0;
  background: $main-color;
  opacity: 0.6;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  line-height: 1.5;
  position: absolute;

}

//FOOTER
footer{
  margin: auto;
	padding: 1.875rem; /*30px*/
  color: $footer-color;
}
