//
// main css style file
//
@import "reset";
@import "variables";
@import "mixins";
@import "fonts";
@import "base";


/*MEDIA QUERIES*/
@media(min-width: 600px){

  .nyt-logo {
    justify-content: flex-end;
}
.select-category{
    justify-content: flex-start;
    flex-flow: row wrap
  }
  header p{
        text-align: left;
  }
  footer p{
    text-align: left;
  }

}
