//
//base general style
//
/*general styles*/
*{
	box-sizing: border-box;
}
html{
	height: 100%;
}

body{
	background-color: $main-color;
	color: $text-color;
	display: flex;
	justify-content:center;
	@include desktop{
		justify-content: left;
	}
  flex-flow: row wrap;
	height: 100%;
	font-size: $font-size; /*16px*/;
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
	color: $text-color;
	cursor: pointer;
}
//HEADER
header{
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	align-content: center;
	margin-top: 25vh;
		@include tablet {
		flex-wrap: nowrap;
	}
	 p{
	  padding: 1rem 0;
	}
}
.loading-image{
	margin: 0 auto;
	 img {
		 max-width: 100px;
	}
}
.header-smaller{
	transition: all 1s ease-in 0.2s;
	transform: scale(.7);
	@include tablet {
		max-height: 150px;
	}
	@include desktop {
		max-height: 150px;
	}
	
}

.select-category{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem;
		 p{
			flex-basis: 100%;
		}
}

.nyt-logo, .select-category{
	flex-basis: 100%;
}

.feed-images{
  width:100%;
	margin-bottom: 20px;
}
//ul
.story-list{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.story-list-item{
	flex-basis: 100%;
  display: inline-block;
	position: relative;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease;
		 a {
			display: block;
			height: 30rem;
		}
		&:hover{
			height: 20rem;
		}

	  @include tablet{
	    flex: 1 1 calc(33.33% - 20px);//need to get rid of unnecessary margin on the right; src:https://stackoverflow.com/questions/45057867/flex-items-not-respecting-margins-and-box-sizing-border-box
	  }

	  @include desktop{
	      flex-basis: 25%;
	  }
}

.story-item-text{
  bottom:0;
  background: $main-color;
  opacity: 0.7;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  line-height: 1.5;
  position: absolute;
	width: 100%;
}

//FOOTER
footer{
  margin:auto;
  color: $footer-color;
	@include desktop{
		margin-left: 30px;
	}
}
